################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/azureautobuildsl/.vs/azureautobuildsl/v16
